<% layout('layout') -%>
<% script('/javascripts/main.js') -%>
<div id='wrapper'>
  <div id='msgbox'>
    <span class='msg'></span>
  </div>
  <div id='formWrapper'>
    <form id='loginForm'>
      <fieldset>
        <label for='username'>Username:</label>
        <input type='text' name='username' />
        <label for='password'>Password:</label>
        <input type='password' name='password' />
        <input type='button' id='loginButton' value='login' />
        <input type='button' id='signupButton' value='Add User' />
      </fieldset>
    </form>
  </div>
</div>
