<% layout('layout') -%>

<div id='wrapper'>
  <div id='msgbox'>
    <span class='msg'>Welcome <% username %></span>
    <span class='msg'>You have logged in <% count %> times.</span>
  </div>
  <button>Logout</button>
</div>
