<% layout('layout') -%>
<% script('/javascripts/welcome.js') -%>

<div id='wrapper'>
  <div id='msgbox'>
    <span class='msg'>Welcome <%= username %>
    You have logged in <%= count %> times.</span>
  </div>
  <button id='logoutButton'>Logout</button>
</div>
